body{
    background-color: rgb(28, 129, 212);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 12% 1fr;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    cursor: url("curseur/bone.png"), pointer;
}

@font-face{
    font-family: "Skullwin";
    src: url("police/SkullphabetOne.ttf");
}

@font-face{
    font-family: "Skulloose";
    src: url("police/Skully.ttf");
}

.rainbow{
    width: 50px;
    height: 50px;
    background: -webkit-linear-gradient(top, #ff3232 0%,#ffba30 9%,#b5fc32 18%,#47ff32 26%,#32fc75 35%,#32fcd4 45%,#32fcd4 45%,#32fcd4 45%,#2f8bfc 54%,#2735f9 64%,#9430ff 74%,#f42e8b 83%,#fc2f66 93%,#ff0004 100%);
    border-radius : 50%;
    border: 2px solid white;
}

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    grid-column: 1/4;
    grid-row:1/2;
}

.acceuil{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1/4;
    grid-row:2/3;
    color: rgb(209, 183, 35);
    font-family: "Skullwin";
    font-size: 14vmin;
    text-align: center;
    animation: acceuil 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    -webkit-text-stroke: 0.5vmin black;
}

@keyframes acceuil{
    0%{
        color: rgb(209, 183, 35);
        -webkit-transform: translate(8px, 4px);
    }
    15%{
        color: rgb(197, 133, 14);
        -webkit-transform: translate(6px, 3px);
    }
    30%{
        color: rgb(255, 2, 2);
        -webkit-transform: translate(2px, 3px);
    }
    45%{
        color: rgb(197, 133, 14);
        -webkit-transform: translate(2px, 5px);
    }
    60%{
        color: rgb(209, 183, 35);
        -webkit-transform: translate(5px, 2px);
    }
    85%{
        color: rgb(197, 133, 14);
        -webkit-transform: translate(6px, 5px);
    }
    100%{
        color: rgb(255, 2, 2);
        -webkit-transform: translate(4px, 5px);
    }
}

.temps{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    grid-column: 1/2;
    grid-row: 2/3; 
    color: rgb(209, 183, 35);
    font-family: "Skullwin";
    font-size: 4vmin;
    -webkit-text-stroke: 0.1vmin black;
}

.score{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    grid-column: 3/4;
    grid-row: 2/3;
    color: rgb(209, 183, 35);
    font-family: "Skullwin";
    font-size: 4vmin;
    -webkit-text-stroke: 0.1vmin black;
}

.scoreTotal{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    grid-column: 1/4;
    grid-row: 2/3;
    color: rgb(209, 183, 35);
    font-family: "Skullwin";
    font-size: 4vmin;
    -webkit-text-stroke: 0.1vmin black;
}

.noire{
    min-width: 50px;
    min-height: 50px;
    background-color: black;
    border: 2px solid white;
    border-radius : 50%;
    cursor: url("curseur/skull.png"), pointer;
}

.forme{
    min-width: 35px;
    min-height: 35px;
    border: 2px solid white;
    border-radius : 50%;
}

.bouttonReload{
    height: 13vmin;
    width: 60vmin;
    background-image:url("bouttons/boutton.png");
    background-size: cover;
    background-position: 50% 46%;
    background-color: transparent;
    border: 0px solid transparent;
    font-family: "Skullwin";
    -webkit-text-stroke: 0.1vmin rgb(255, 2, 2);
    color:black;
    font-size: 4vmin;
}

.bouttonReload:hover{
    animation:0.6s reload;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    cursor: url("curseur/skull2.png"), pointer;
}

@keyframes reload{
    from{
        height:13vmin;
        width:60vmin;
        font-size:4vmin;
    }
    to{
        height:10vmin;
        width:50vmin;
        font-size:3vmin
    }
}


.bouttonNoob{
    height: 13vmin;
    width: 60vmin;
    background-image:url("bouttons/bouttonFond.png");
    background-size: cover;
    background-position: 50% 46%;
    background-color: transparent;
    border: 0px solid transparent;
    font-family: "Skullwin";
    -webkit-text-stroke: 0.1vmin red;
    animation: boutton 1.2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    color:rgb(28, 129, 212);
    font-size: 4vmin;
}

.bouttonNoob:hover{
    height: 13vmin;
    width: 60vmin;
    font-size:4vmin;
    background-image:url("bouttons/bouttonNoob.png");
    background-size: cover;
    background-position: 50% 46%;
    background-color: transparent;
    border: 0px solid transparent;
    font-family: "Skullwin";
    animation: boutton 0.9s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    -webkit-text-stroke: 0.1vmin black;
    cursor: url("curseur/skull5.png"), pointer;
}

.bouttonHardcore{
    height: 13vmin;
    width: 60vmin;
    font-size:4.5vmin;
    background-image:url("bouttons/bouttonFond.png");
    background-size: cover;
    background-position: 50% 46%;
    background-color: transparent;
    border: 0px solid transparent;
    font-family: "Skullwin";
    animation: boutton 0.8s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    -webkit-text-stroke: 0.1vmin red;
}

.bouttonHardcore:hover{
    height: 13vmin;
    width: 60vmin;
    font-size:4.5vmin;
    background-image:url("bouttons/bouttonHard.png");
    background-size: cover;
    background-position: 50% 46%;
    background-color: transparent;
    border: 0px solid transparent;
    font-family: "Skullwin";
    animation: boutton 0.4s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    -webkit-text-stroke: 0.1vmin rgb(0, 0, 0);
    cursor: url("curseur/skull3.png"), pointer;
}

.bouttonUltra{
    height: 13vmin;
    width: 60vmin;
    font-size:4.5vmin;
    background-image:url("bouttons/bouttonFond.png");
    background-size: cover;
    background-position: 50% 46%;
    background-color: transparent;
    border: 0px solid transparent;
    font-family: "Skullwin";
    animation: boutton 0.3s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    -webkit-text-stroke: 0.1vmin red;
}

.bouttonUltra:hover{
    height: 13vmin;
    width: 60vmin;
    font-size:4.5vmin;
    background-image:url("bouttons/bouttonUltra.png");
    background-size: cover;
    background-position: 50% 46%;
    background-color: transparent;
    border: 0px solid transparent;
    font-family: "Skullwin";
    animation: boutton 0.2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    -webkit-text-stroke: 0.1vmin black;
    cursor: url("curseur/skull4.png"), pointer;
}

@keyframes boutton{
    0%{
        color: rgb(209, 183, 35);
        -webkit-transform: translate(8px, 4px);
    }
    15%{
        color: rgb(197, 133, 14);
        -webkit-transform: translate(6px, 3px);
    }
    30%{
        color: rgb(255, 2, 2);
        -webkit-transform: translate(2px, 3px);
    }
    45%{
        color: rgb(197, 133, 14);
        -webkit-transform: translate(2px, 5px);
    }
    60%{
        color: rgb(209, 183, 35);
        -webkit-transform: translate(5px, 2px);
    }
    85%{
        color: rgb(197, 133, 14);
        -webkit-transform: translate(6px, 5px);
    }
    100%{
        color: rgb(255, 2, 2);
        -webkit-transform: translate(4px, 5px);
    }
}

.loose{
    grid-column: 1/4;
    grid-row: 1/3;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10vmin;
    color:rgb(0, 0, 0);
    animation: loose 0.4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    font-family: "Skulloose";
    text-align: center;
    -webkit-text-stroke: 0.1vmin black;
}

@keyframes loose{
    from{
        color:rgb(0, 0, 0);
        font-size: 10vmin;
    }
    to{
        color:rgb(255, 2, 2);
        font-size: 12vmin;
    }
}

.win{
    grid-column: 1/4;
    grid-row: 1/3;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10vmin;
    color:rgb(226, 230, 19);
    animation: win 0.4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    font-family: "Skullwin";
    -webkit-text-stroke: 0.2vmin black;
}

@keyframes win{
    from{
        color:rgb(226, 230, 19);
        font-size: 10vmin;
    }
    to{
        color:rgb(197, 133, 14);
        font-size: 13vmin;
    }
}